<div class="wrap">
    <header class="header">
        <span>北京科技职业技术学院</span>
    
    </header>
    <div class="search">
        <p class="search-text">搜索饿了么商家、商品名称</p>
    </div>
    <section class="nav">
            <a class="nav-content">
                <div class="nav-img">
                    <img  src="https://fuss10.elemecdn.com/7/d8/a867c870b22bc74c87c348b75528djpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">美食</span>
            </a>
            <a class="nav-content">
                <div class="nav-img">
                        <img src="https://fuss10.elemecdn.com/e/89/185f7259ebda19e16123884a60ef2jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">晚餐</span>
            </a>
            <a class="nav-content">
                <div class="nav-img">
                        <img src="https://fuss10.elemecdn.com/c/7e/76a23eb90dada42528bc41499d6f8jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">商超便利</span>
            </a>
            <a class="nav-content">
                <div class="nav-img">
                        <img src="https://fuss10.elemecdn.com/0/d0/dd7c960f08cdc756b1d3ad54978fdjpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">水果</span>
            </a>
            <a class="nav-content">
                <div class="nav-img">
                        <img src="https://fuss10.elemecdn.com/7/0a/af108e256ebc9f02db599592ae655jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">医药健康</span>
            </a>
            <a class="nav-content">
                <div class="nav-img">
                        <img src="https://fuss10.elemecdn.com/3/01/c888acb2c8ba9e0c813f36ec9e90ajpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">浪漫鲜花</span>
            </a>
            <a class="nav-content">
                <div class="nav-img">
                        <img src="https://fuss10.elemecdn.com/c/21/e42997b86b232161a5a16ab813ae8jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">厨房生鲜</span>
            </a>
            <a class="nav-content">
                <div class="nav-img">
                        <img src="https://fuss10.elemecdn.com/7/d6/6f2631288a44ec177204e05cbcb93jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">地方小吃</span>
            </a>
            <a class="nav-content">
                <div class="nav-img">
                        <img src="https://fuss10.elemecdn.com/5/de/bebe83947afee0b0f38257b0e3866jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">签到领红包</span>
            </a>
            <a class="nav-content">
                <div class="nav-img">
                        <img src="https://fuss10.elemecdn.com/a/8a/ec21096d528b7cfd23cdd894f01c6jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/">
                </div>
                <span class="nav-text">地方菜系</span>
            </a>
           
    </section>
    <section class="middle">
        <div class="middle-nav">
        <div class="middle-nav-box">
            <h3 class="title">品质套餐</h3>
            <p class="p1">搭配齐全吃的好</p>
            <p class="p2">立即抢购    ></p>
            <div class="img">
                    <img src="https://fuss10.elemecdn.com/b/e1/0fa0ed514c093a7138b0b9a50d61fpng.png?imageMogr/format/webp/thumbnail/!240x160r/gravity/Center/crop/240x160/">

            </div>
        </div>
        <div class="middle-nav-box">
                <h3 class="title">限量抢购</h3>
                <p class="p1">超值美味9.9元起</p>
                <p class="p2"><span>208人</span>正在抢    ></p>
                <div class="img">
                        <img src="https://fuss10.elemecdn.com/b/e1/0fa0ed514c093a7138b0b9a50d61fpng.png?imageMogr/format/webp/thumbnail/!240x160r/gravity/Center/crop/240x160/">

                </div>
            </div>
        </div>
    </section>

    <section class="tuijian">
        <div>— 推荐商家  —</div>
    </section>

   <section class="choose">
        <aside class="choose-nav">
            <div>
                <span>综合排序</span>
            </div>
            <div>
                <span>距离最近</span>
            </div>
            <div>
                <span>品质联盟</span>
            </div>
            <div>
                <span>筛选</span>
            </div>
        </aside>
   </section>


   <div id="product"></div>
  
   <div id="foot"></div>

</div>